# Exploring Alpha Vantage API

### Imports- **Run First**

In [2]:
#open file with your API key
with open('here_be_monsters.txt') as file:
  quack = file.read().strip()

In [3]:
#import libraries
from alpha_vantage.timeseries import TimeSeries

import requests
from bs4 import BeautifulSoup

import pandas as pd
import io

In [4]:
#build TimeSeries variable from Alpha Vantage API
ts1 = TimeSeries(key = quack)

### How to put stock data into a DataFrame

#### Requests Method

In [5]:
#get weekly stock data of Apple in DataFrame format
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=AAPL&apikey=' + str(quack) +"&datatype=csv"

r = requests.get(url).content

data = pd.read_csv(io.StringIO(r.decode('utf-8')))

print(data)

       timestamp    open     high     low   close     volume
0     2023-11-24  189.89  192.930  189.25  189.97  148351454
1     2023-11-17  185.82  190.960  184.21  189.69  262880715
2     2023-11-10  176.38  186.565  176.21  186.40  303653020
3     2023-11-03  169.02  177.780  167.90  176.65  310075876
4     2023-10-27  170.91  174.010  165.67  168.22  286078102
...          ...     ...      ...     ...     ...        ...
1250  1999-12-10  114.56  118.000   99.00  103.00   25152800
1251  1999-12-03   94.25  115.560   93.25  115.00   28046300
1252  1999-11-26   91.75   95.500   88.50   95.06    9757600
1253  1999-11-19   89.62   94.750   88.06   92.44   13711000
1254  1999-11-12   87.75   97.730   86.75   90.62   25776200

[1255 rows x 6 columns]

In [6]:
#get head of data
data.head(10)

    timestamp    open     high     low   close     volume
0  2023-11-24  189.89  192.930  189.25  189.97  148351454
1  2023-11-17  185.82  190.960  184.21  189.69  262880715
2  2023-11-10  176.38  186.565  176.21  186.40  303653020
3  2023-11-03  169.02  177.780  167.90  176.65  310075876
4  2023-10-27  170.91  174.010  165.67  168.22  286078102
5  2023-10-20  176.75  179.075  172.64  172.88  288377600
6  2023-10-13  176.81  182.340  175.80  178.85  241839090
7  2023-10-06  171.22  177.990  170.82  177.49  260574027
8  2023-09-29  174.20  176.970  167.62  171.21  285838995
9  2023-09-22  176.48  179.695  173.86  174.79  297395196

#### Python Package Method

In [7]:
#store Apple stock intraday data in data and meta_data variables
apple1, meta_data = ts1.get_intraday("AAPL")

In [8]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2023-11-24 16:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}

In [9]:
#print data
apple1

{'2023-11-24 16:45:00': {'1. open': '189.9300',
  '2. high': '189.9500',
  '3. low': '189.8500',
  '4. close': '189.9000',
  '5. volume': '2145'},
 '2023-11-24 16:30:00': {'1. open': '189.9300',
  '2. high': '189.9500',
  '3. low': '189.9100',
  '4. close': '189.9300',
  '5. volume': '1310'},
 '2023-11-24 16:15:00': {'1. open': '189.9700',
  '2. high': '189.9900',
  '3. low': '189.9300',
  '4. close': '189.9500',
  '5. volume': '851'},
 '2023-11-24 16:00:00': {'1. open': '189.9550',
  '2. high': '189.9900',
  '3. low': '189.9200',
  '4. close': '189.9700',
  '5. volume': '1322'},
 '2023-11-24 15:45:00': {'1. open': '189.9500',
  '2. high': '190.0900',
  '3. low': '189.9200',
  '4. close': '189.9900',
  '5. volume': '4259'},
 '2023-11-24 15:30:00': {'1. open': '189.9850',
  '2. high': '189.9900',
  '3. low': '189.9200',
  '4. close': '189.9200',
  '5. volume': '1123'},
 '2023-11-24 15:15:00': {'1. open': '189.9600',
  '2. high': '189.9900',
  '3. low': '189.9400',
  '4. close': '189.9850',
  '5. volume': '2357'},
 '2023-11-24 15:00:00': {'1. open': '189.9450',
  '2. high': '189.9900',
  '3. low': '189.9200',
  '4. close': '189.9900',
  '5. volume': '1596'},
 '2023-11-24 14:45:00': {'1. open': '189.9900',
  '2. high': '190.0000',
  '3. low': '189.9200',
  '4. close': '189.9450',
  '5. volume': '2249'},
 '2023-11-24 14:30:00': {'1. open': '189.9400',
  '2. high': '190.0000',
  '3. low': '189.9200',
  '4. close': '189.9900',
  '5. volume': '4613'},
 '2023-11-24 14:15:00': {'1. open': '189.8600',
  '2. high': '191.3100',
  '3. low': '177.9770',
  '4. close': '189.9500',
  '5. volume': '17476'},
 '2023-11-24 14:00:00': {'1. open': '189.9000',
  '2. high': '198.0240',
  '3. low': '189.8400',
  '4. close': '189.8800',
  '5. volume': '19772'},
 '2023-11-24 13:45:00': {'1. open': '189.8700',
  '2. high': '189.9700',
  '3. low': '189.8400',
  '4. close': '189.9000',
  '5. volume': '41009'},
 '2023-11-24 13:30:00': {'1. open': '189.8950',
  '2. high': '189.9400',
  '3. low': '189.8500',
  '4. close': '189.8700',
  '5. volume': '21855'},
 '2023-11-24 13:15:00': {'1. open': '189.9700',
  '2. high': '189.9700',
  '3. low': '189.8800',
  '4. close': '189.9000',
  '5. volume': '10072'},
 '2023-11-24 13:00:00': {'1. open': '189.9700',
  '2. high': '190.0400',
  '3. low': '189.6950',
  '4. close': '189.9000',
  '5. volume': '6390631'},
 '2023-11-24 12:45:00': {'1. open': '189.6400',
  '2. high': '190.0000',
  '3. low': '189.6220',
  '4. close': '189.9800',
  '5. volume': '2674418'},
 '2023-11-24 12:30:00': {'1. open': '189.5400',
  '2. high': '189.7290',
  '3. low': '189.5180',
  '4. close': '189.6400',
  '5. volume': '955899'},
 '2023-11-24 12:15:00': {'1. open': '189.5700',
  '2. high': '189.7250',
  '3. low': '189.5100',
  '4. close': '189.5400',
  '5. volume': '909002'},
 '2023-11-24 12:00:00': {'1. open': '189.6000',
  '2. high': '189.6200',
  '3. low': '189.5000',
  '4. close': '189.5750',
  '5. volume': '796567'},
 '2023-11-24 11:45:00': {'1. open': '189.6650',
  '2. high': '189.7890',
  '3. low': '189.5100',
  '4. close': '189.6000',
  '5. volume': '976965'},
 '2023-11-24 11:30:00': {'1. open': '189.6000',
  '2. high': '189.7290',
  '3. low': '189.3500',
  '4. close': '189.6650',
  '5. volume': '1208986'},
 '2023-11-24 11:15:00': {'1. open': '189.5300',
  '2. high': '189.6400',
  '3. low': '189.5150',
  '4. close': '189.6100',
  '5. volume': '1107753'},
 '2023-11-24 11:00:00': {'1. open': '189.4900',
  '2. high': '189.6500',
  '3. low': '189.3500',
  '4. close': '189.5370',
  '5. volume': '1168308'},
 '2023-11-24 10:45:00': {'1. open': '189.4100',
  '2. high': '189.6700',
  '3. low': '189.2500',
  '4. close': '189.4850',
  '5. volume': '1374942'},
 '2023-11-24 10:30:00': {'1. open': '189.4700',
  '2. high': '189.5700',
  '3. low': '189.3300',
  '4. close': '189.4050',
  '5. volume': '1138423'},
 '2023-11-24 10:15:00': {'1. open': '189.5600',
  '2. high': '189.7800',
  '3. low': '189.3000',
  '4. close': '189.4600',
  '5. volume': '1754105'},
 '2023-11-24 10:00:00': {'1. open': '189.9900',
  '2. high': '190.0900',
  '3. low': '189.5500',
  '4. close': '189.5550',
  '5. volume': '1364520'},
 '2023-11-24 09:45:00': {'1. open': '189.9100',
  '2. high': '190.0600',
  '3. low': '189.6900',
  '4. close': '190.0000',
  '5. volume': '1886334'},
 '2023-11-24 09:30:00': {'1. open': '190.8700',
  '2. high': '190.9000',
  '3. low': '189.8200',
  '4. close': '189.9200',
  '5. volume': '2614449'},
 '2023-11-24 09:15:00': {'1. open': '190.7150',
  '2. high': '190.8900',
  '3. low': '190.5200',
  '4. close': '190.8900',
  '5. volume': '63981'},
 '2023-11-24 09:00:00': {'1. open': '190.8550',
  '2. high': '190.8900',
  '3. low': '190.6200',
  '4. close': '190.7100',
  '5. volume': '17524'},
 '2023-11-24 08:45:00': {'1. open': '190.7100',
  '2. high': '190.8800',
  '3. low': '190.7100',
  '4. close': '190.8700',
  '5. volume': '23084'},
 '2023-11-24 08:30:00': {'1. open': '190.7200',
  '2. high': '190.7500',
  '3. low': '186.7340',
  '4. close': '190.7300',
  '5. volume': '14998'},
 '2023-11-24 08:15:00': {'1. open': '190.7800',
  '2. high': '190.8400',
  '3. low': '190.6900',
  '4. close': '190.7100',
  '5. volume': '16257'},
 '2023-11-24 08:00:00': {'1. open': '190.7990',
  '2. high': '191.3800',
  '3. low': '190.6100',
  '4. close': '190.7750',
  '5. volume': '43417'},
 '2023-11-24 07:45:00': {'1. open': '190.8000',
  '2. high': '190.8100',
  '3. low': '190.6400',
  '4. close': '190.7700',
  '5. volume': '13783'},
 '2023-11-24 07:30:00': {'1. open': '190.8700',
  '2. high': '190.8900',
  '3. low': '190.7600',
  '4. close': '190.8000',
  '5. volume': '5815'},
 '2023-11-24 07:15:00': {'1. open': '190.7900',
  '2. high': '190.9000',
  '3. low': '190.7400',
  '4. close': '190.9000',
  '5. volume': '3180'},
 '2023-11-24 07:00:00': {'1. open': '190.7800',
  '2. high': '190.8800',
  '3. low': '190.7500',
  '4. close': '190.7800',
  '5. volume': '13676'},
 '2023-11-24 06:45:00': {'1. open': '190.7900',
  '2. high': '190.8400',
  '3. low': '190.6800',
  '4. close': '190.7700',
  '5. volume': '4018'},
 '2023-11-24 06:30:00': {'1. open': '190.9300',
  '2. high': '190.9300',
  '3. low': '190.7200',
  '4. close': '190.8100',
  '5. volume': '5974'},
 '2023-11-24 06:15:00': {'1. open': '190.8700',
  '2. high': '190.9600',
  '3. low': '190.8400',
  '4. close': '190.9300',
  '5. volume': '2424'},
 '2023-11-24 06:00:00': {'1. open': '191.0300',
  '2. high': '191.1000',
  '3. low': '190.7800',
  '4. close': '190.8400',
  '5. volume': '5029'},
 '2023-11-24 05:45:00': {'1. open': '190.9600',
  '2. high': '191.1100',
  '3. low': '190.9600',
  '4. close': '191.1000',
  '5. volume': '5944'},
 '2023-11-24 05:30:00': {'1. open': '191.0700',
  '2. high': '191.0800',
  '3. low': '190.9400',
  '4. close': '190.9700',
  '5. volume': '3942'},
 '2023-11-24 05:15:00': {'1. open': '191.0700',
  '2. high': '191.1400',
  '3. low': '191.0600',
  '4. close': '191.0700',
  '5. volume': '1230'},
 '2023-11-24 05:00:00': {'1. open': '191.0500',
  '2. high': '191.1400',
  '3. low': '191.0500',
  '4. close': '191.0700',
  '5. volume': '1503'},
 '2023-11-24 04:45:00': {'1. open': '191.1500',
  '2. high': '191.1500',
  '3. low': '191.0400',
  '4. close': '191.0500',
  '5. volume': '1407'},
 '2023-11-24 04:30:00': {'1. open': '191.1100',
  '2. high': '191.1600',
  '3. low': '191.0800',
  '4. close': '191.1500',
  '5. volume': '1204'},
 '2023-11-24 04:15:00': {'1. open': '191.1700',
  '2. high': '191.2200',
  '3. low': '191.1100',
  '4. close': '191.1400',
  '5. volume': '3469'},
 '2023-11-24 04:00:00': {'1. open': '191.2000',
  '2. high': '191.2600',
  '3. low': '190.8900',
  '4. close': '191.2000',
  '5. volume': '1862'},
 '2023-11-22 19:45:00': {'1. open': '191.2800',
  '2. high': '191.2900',
  '3. low': '191.2100',
  '4. close': '191.2700',
  '5. volume': '5370'},
 '2023-11-22 19:30:00': {'1. open': '191.2800',
  '2. high': '191.3000',
  '3. low': '191.2200',
  '4. close': '191.2600',
  '5. volume': '1217'},
 '2023-11-22 19:15:00': {'1. open': '191.2800',
  '2. high': '191.3000',
  '3. low': '191.2600',
  '4. close': '191.2600',
  '5. volume': '402'},
 '2023-11-22 19:00:00': {'1. open': '191.2800',
  '2. high': '191.3400',
  '3. low': '191.2500',
  '4. close': '191.3000',
  '5. volume': '2979'},
 '2023-11-22 18:45:00': {'1. open': '191.2800',
  '2. high': '191.3100',
  '3. low': '191.2200',
  '4. close': '191.2800',
  '5. volume': '774'},
 '2023-11-22 18:30:00': {'1. open': '191.2900',
  '2. high': '191.3100',
  '3. low': '191.2200',
  '4. close': '191.2600',
  '5. volume': '679'},
 '2023-11-22 18:15:00': {'1. open': '191.3000',
  '2. high': '191.3100',
  '3. low': '191.2100',
  '4. close': '191.2100',
  '5. volume': '873'},
 '2023-11-22 18:00:00': {'1. open': '191.3100',
  '2. high': '191.3500',
  '3. low': '191.2700',
  '4. close': '191.3000',
  '5. volume': '3953'},
 '2023-11-22 17:45:00': {'1. open': '191.2650',
  '2. high': '191.3500',
  '3. low': '191.2600',
  '4. close': '191.3100',
  '5. volume': '4876'},
 '2023-11-22 17:30:00': {'1. open': '191.2500',
  '2. high': '191.2700',
  '3. low': '191.2300',
  '4. close': '191.2600',
  '5. volume': '2400'},
 '2023-11-22 17:15:00': {'1. open': '191.2900',
  '2. high': '191.3100',
  '3. low': '182.1440',
  '4. close': '191.2500',
  '5. volume': '1698'},
 '2023-11-22 17:00:00': {'1. open': '191.3200',
  '2. high': '191.3600',
  '3. low': '191.2600',
  '4. close': '191.3100',
  '5. volume': '72015'},
 '2023-11-22 16:45:00': {'1. open': '191.2900',
  '2. high': '191.3400',
  '3. low': '191.2200',
  '4. close': '191.3300',
  '5. volume': '26092'},
 '2023-11-22 16:30:00': {'1. open': '191.2800',
  '2. high': '191.3100',
  '3. low': '191.2700',
  '4. close': '191.2900',
  '5. volume': '237168'},
 '2023-11-22 16:15:00': {'1. open': '191.3100',
  '2. high': '191.4700',
  '3. low': '191.2600',
  '4. close': '191.3100',
  '5. volume': '61110'},
 '2023-11-22 16:00:00': {'1. open': '191.3000',
  '2. high': '191.3250',
  '3. low': '186.7340',
  '4. close': '191.2800',
  '5. volume': '9283224'},
 '2023-11-22 15:45:00': {'1. open': '191.5400',
  '2. high': '191.6310',
  '3. low': '191.2200',
  '4. close': '191.3000',
  '5. volume': '2429584'},
 '2023-11-22 15:30:00': {'1. open': '191.5150',
  '2. high': '191.9850',
  '3. low': '191.4450',
  '4. close': '191.5400',
  '5. volume': '1108176'},
 '2023-11-22 15:15:00': {'1. open': '191.5050',
  '2. high': '191.5550',
  '3. low': '191.2700',
  '4. close': '191.5200',
  '5. volume': '813754'},
 '2023-11-22 15:00:00': {'1. open': '191.3500',
  '2. high': '191.5050',
  '3. low': '191.2200',
  '4. close': '191.5020',
  '5. volume': '932825'},
 '2023-11-22 14:45:00': {'1. open': '191.2000',
  '2. high': '191.3700',
  '3. low': '190.9400',
  '4. close': '191.3500',
  '5. volume': '1056765'},
 '2023-11-22 14:30:00': {'1. open': '191.6400',
  '2. high': '191.6400',
  '3. low': '190.8250',
  '4. close': '191.1940',
  '5. volume': '1188971'},
 '2023-11-22 14:15:00': {'1. open': '191.5350',
  '2. high': '191.6600',
  '3. low': '191.4900',
  '4. close': '191.6350',
  '5. volume': '658967'},
 '2023-11-22 14:00:00': {'1. open': '191.6200',
  '2. high': '191.7100',
  '3. low': '191.5300',
  '4. close': '191.5400',
  '5. volume': '859589'},
 '2023-11-22 13:45:00': {'1. open': '191.7900',
  '2. high': '191.8000',
  '3. low': '191.5300',
  '4. close': '191.6300',
  '5. volume': '1007766'},
 '2023-11-22 13:30:00': {'1. open': '192.0100',
  '2. high': '192.0300',
  '3. low': '191.7600',
  '4. close': '191.7850',
  '5. volume': '896373'},
 '2023-11-22 13:15:00': {'1. open': '192.0640',
  '2. high': '192.0800',
  '3. low': '191.7710',
  '4. close': '192.0050',
  '5. volume': '749652'},
 '2023-11-22 13:00:00': {'1. open': '191.9000',
  '2. high': '192.0900',
  '3. low': '191.6800',
  '4. close': '192.0700',
  '5. volume': '957382'},
 '2023-11-22 12:45:00': {'1. open': '191.7000',
  '2. high': '191.9450',
  '3. low': '191.6500',
  '4. close': '191.9050',
  '5. volume': '938157'},
 '2023-11-22 12:30:00': {'1. open': '191.9150',
  '2. high': '191.9200',
  '3. low': '191.6400',
  '4. close': '191.7050',
  '5. volume': '809171'},
 '2023-11-22 12:15:00': {'1. open': '191.5850',
  '2. high': '191.9600',
  '3. low': '191.5500',
  '4. close': '191.9150',
  '5. volume': '939296'},
 '2023-11-22 12:00:00': {'1. open': '191.6650',
  '2. high': '191.8900',
  '3. low': '191.5700',
  '4. close': '191.5900',
  '5. volume': '811632'},
 '2023-11-22 11:45:00': {'1. open': '191.6650',
  '2. high': '191.7400',
  '3. low': '191.4800',
  '4. close': '191.6620',
  '5. volume': '717912'},
 '2023-11-22 11:30:00': {'1. open': '191.6600',
  '2. high': '191.8500',
  '3. low': '191.5700',
  '4. close': '191.6700',
  '5. volume': '871805'},
 '2023-11-22 11:15:00': {'1. open': '191.8000',
  '2. high': '191.8400',
  '3. low': '191.5100',
  '4. close': '191.6600',
  '5. volume': '848645'},
 '2023-11-22 11:00:00': {'1. open': '191.4550',
  '2. high': '191.8650',
  '3. low': '191.4400',
  '4. close': '191.8050',
  '5. volume': '1089411'},
 '2023-11-22 10:45:00': {'1. open': '192.0800',
  '2. high': '192.1560',
  '3. low': '191.3900',
  '4. close': '191.4500',
  '5. volume': '1531525'},
 '2023-11-22 10:30:00': {'1. open': '191.9500',
  '2. high': '192.3700',
  '3. low': '191.9480',
  '4. close': '192.0700',
  '5. volume': '1315968'},
 '2023-11-22 10:15:00': {'1. open': '191.7300',
  '2. high': '192.1500',
  '3. low': '191.5900',
  '4. close': '191.9310',
  '5. volume': '1598510'},
 '2023-11-22 10:00:00': {'1. open': '191.9200',
  '2. high': '191.9880',
  '3. low': '191.4300',
  '4. close': '191.7400',
  '5. volume': '1840069'},
 '2023-11-22 09:45:00': {'1. open': '192.6600',
  '2. high': '192.7000',
  '3. low': '191.5790',
  '4. close': '191.9120',
  '5. volume': '2493474'},
 '2023-11-22 09:30:00': {'1. open': '191.4900',
  '2. high': '192.9300',
  '3. low': '191.4650',
  '4. close': '192.6400',
  '5. volume': '5205124'},
 '2023-11-22 09:15:00': {'1. open': '191.2500',
  '2. high': '191.5000',
  '3. low': '191.2000',
  '4. close': '191.4800',
  '5. volume': '59789'},
 '2023-11-22 09:00:00': {'1. open': '191.1500',
  '2. high': '191.4400',
  '3. low': '190.8050',
  '4. close': '191.2700',
  '5. volume': '64953'},
 '2023-11-22 08:45:00': {'1. open': '191.0300',
  '2. high': '191.2000',
  '3. low': '191.0300',
  '4. close': '191.1550',
  '5. volume': '44434'},
 '2023-11-22 08:30:00': {'1. open': '191.0900',
  '2. high': '191.1000',
  '3. low': '190.8200',
  '4. close': '191.0300',
  '5. volume': '25306'},
 '2023-11-22 08:15:00': {'1. open': '191.0500',
  '2. high': '191.1500',
  '3. low': '190.9200',
  '4. close': '191.1200',
  '5. volume': '47432'},
 '2023-11-22 08:00:00': {'1. open': '190.7100',
  '2. high': '191.1500',
  '3. low': '190.0400',
  '4. close': '191.0600',
  '5. volume': '45232'}}

In [15]:
#store data into a DataFrame
df_apple1 = pd.DataFrame(apple1).transpose().reset_index()
df_apple1.head()

                 index   1. open   2. high    3. low  4. close 5. volume
0  2023-11-24 16:45:00  189.9300  189.9500  189.8500  189.9000      2145
1  2023-11-24 16:30:00  189.9300  189.9500  189.9100  189.9300      1310
2  2023-11-24 16:15:00  189.9700  189.9900  189.9300  189.9500       851
3  2023-11-24 16:00:00  189.9550  189.9900  189.9200  189.9700      1322
4  2023-11-24 15:45:00  189.9500  190.0900  189.9200  189.9900      4259

In [16]:
#Bring in data in DataFrame format

ts2 = TimeSeries(key=quack, output_format='pandas')

In [17]:
# display new intraday stock data
ts2.get_intraday("AAPL")

(                     1. open  2. high   3. low  4. close  5. volume
 date
 2023-11-24 16:45:00  189.930   189.95  189.850   189.900     2145.0
 2023-11-24 16:30:00  189.930   189.95  189.910   189.930     1310.0
 2023-11-24 16:15:00  189.970   189.99  189.930   189.950      851.0
 2023-11-24 16:00:00  189.955   189.99  189.920   189.970     1322.0
 2023-11-24 15:45:00  189.950   190.09  189.920   189.990     4259.0
 ...                      ...      ...      ...       ...        ...
 2023-11-22 09:00:00  191.150   191.44  190.805   191.270    64953.0
 2023-11-22 08:45:00  191.030   191.20  191.030   191.155    44434.0
 2023-11-22 08:30:00  191.090   191.10  190.820   191.030    25306.0
 2023-11-22 08:15:00  191.050   191.15  190.920   191.120    47432.0
 2023-11-22 08:00:00  190.710   191.15  190.040   191.060    45232.0

 [100 rows x 5 columns],
 {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2023-11-24 16:45:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'})

In [20]:
#get full amount of intraday stock data for data and meta_data
df_apple2, meta_data = ts2.get_intraday("AAPL", outputsize='full')

In [21]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2023-11-24 16:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [25]:
#print data with reset index
df_apple2.reset_index()

                   date  1. open  2. high   3. low  4. close  5. volume
0   2023-11-24 16:45:00  189.930  189.950  189.850   189.900     2145.0
1   2023-11-24 16:30:00  189.930  189.950  189.910   189.930     1310.0
2   2023-11-24 16:15:00  189.970  189.990  189.930   189.950      851.0
3   2023-11-24 16:00:00  189.955  189.990  189.920   189.970     1322.0
4   2023-11-24 15:45:00  189.950  190.090  189.920   189.990     4259.0
..                  ...      ...      ...      ...       ...        ...
943 2023-11-03 05:00:00  171.364  171.734  171.284   171.714    18594.0
944 2023-11-03 04:45:00  172.163  172.323  171.284   171.364    59462.0
945 2023-11-03 04:30:00  172.043  172.433  171.973   172.213    22034.0
946 2023-11-03 04:15:00  171.923  172.153  171.783   171.983    19407.0
947 2023-11-03 04:00:00  172.163  172.273  171.683   171.943    69259.0

[948 rows x 6 columns]